*{
    margin: 0;
    padding: 0;
}
body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #8e918f;
}

.index{
    width: 1200px;
    height: 1600px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    min-height: 100%;
}

.index2{
    width: 1200px;

    margin: 0 auto;
    background-color: white;
    position: relative;
    min-height: 100%;
}
.index3{
    width: 1200px;
    padding-bottom: 200px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    min-height: 100%;
}
/*header*/

header{
    background: #FF7F56;
    width: 1200px;
    height: 70px;
    margin-bottom: 70px;
    display: flex;
    position: fixed;
    z-index: 3;
    top: 0;
    text-align: center;
    
}
.logo{
    width: 280px;
    height: 70px;
    float: left;
 }

header button{
    border: 0;
    outline: none;
    height: 42px;
    margin: 15px 150px 0 15px;
    width: 105px;
}
header button:hover{
    background: #8e918f;
    cursor: pointer;
}
.button_l{
    border-radius: 0 25px;
}
.button_c{
    border-radius: 25px;
}
.button_r{
    border-radius: 25px 0;
}

/*footer*/

footer{
    margin-top: auto;
    background: #FF7F56;
    height: 170px;
    bottom:0;
    padding-top: 5px;
    width: 100%;
    position: absolute;
}

.footer__article1 h1{
    margin-top: 20px;
    margin-left: 20px;
    color:white;
    font-size: 24px;
}
.footer__article1 p{
    margin-top: 20px;
    margin-left: 20px;
    color:white;
    font-size: 18px;
}

.footer__article2{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 20px;
    color:white;
    font-size: 18px;
}
.footer__article2 h2{
    font-size: 24px;
}
.footer__article2 img{
    margin: 20px;
    width: 20px;
    height: 20px;
}
/*section__index*/
.section__index{
    width: 100%;
    height: 100%;
}
/*слайдер*/
.emae{
	display: flex;
	align-items: center;
    flex-direction: column;
    width: 50%;
    padding-top:150px; 
    margin-left: 25%;
}
.emae img {
    width: 100%;
    border: 1px solid;
    border-radius: 50px 0 50px 0;;
}
.emae button{
	margin-left:10px;
	border: 0;
	width: 20px;
	height: 20px;
	cursor:pointer;
	border: 1px solid black;
	border-radius: 20px;
}
/*кнопки слайдера*/
.a1{
background-color:#274D7E;
}
.b1{
background-color: white;
border: 1px solid black;
}
.c1{
background-color: white;
border: 1px solid black;
}

.d1{
background-color: white;
border: 1px solid black;
}
/*новости*/
.novosti{
width: 150px;
height: 40px;
background-color: #FF7F56;
margin-left: 100px;
border-radius: 30px;
text-align: center;
}
.novosti p{
    font-size: 20px;
    color: white;
    padding: 9px;
}

.stroka{
    width: 50%;
    display: flex;
    margin-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.novost{
    width: 300px;
    height: 350px;
    border: 1px solid black;
    margin-right: 50px;
}
.novost img{
    width: 300px;
    height: 200px;
}
.novost p{
    font-size: 20px;
    margin-left: 20px;
}

/*section__korzina*/
.section__korzina{
    width: 100%;
    height: 700px;
}

/*aside*/

.left_navigation{
    height: 500px;
    width: 200px;
    margin: 30px 70px 0 30px; 
    background-color: #ff7f56;
    border-radius: 50px; 
    text-align: center;
    padding: 10px;
    float: left;
    position: absolute;
}
.left_navigation button:hover{
    background: #8e918f;
    cursor: pointer;
}

/*section__katalog*/

.section__katalog{
    margin-top: 70px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
.name_p{
    width: 140px;
    height: 42px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 0 25px;

}

.b_panel{
    height: 32px;
    width: 120px;
    border-radius: 20px;
    border: 0;

    background: #fff;
    margin-top: 10px;
}

.katalog{
    display: flex;
    float: right;
    width: 677px;
}

.name_category{
    margin: 30px 11px 0 20px;
    width: 200px;
    height: 38px;
    background: #ff7f56;
    border-radius: 25px;
    text-align: center;
}

.name_category p{
    margin: 0 25px;
    padding: 9px;
    font-size: 19px;
    color: #fff;
}
.name_category_last{
    margin: 30px 11px 0 20px;
    width: 300px;
    height: 38px;
    background: #ff7f56;
    border-radius: 25px;
    text-align: center;
}
.name_category_last p{
    margin: 0 25px;
    padding: 9px;
    font-size: 19px;
    color: #fff;
}
.lot{
    height: 200px;
    width: 200px;
    border: 1px solid #000;
    margin: 25px 70px 50px 20px;
}

.img__lot{
    width: 200px;
    height: 200px;
}

.lot p{
    font-size: 19px;
    margin: 5px 0;
}

.inf{
    width: 200px;
}

.circle{
    border: none;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #C4C4C4;
    top: -48px;
    left: 164px;
}
    .circle:hover{
        background: #e6a85c;
        cursor: pointer;
    }

.cart{
    height: 30px;
    width: 30px;
}

.katalog:last-child{
    display: flex;
    float: right;
    width: 677px;
    margin-bottom: 200px;
}


/*Korzina*/

.korzina__zag{
    height: 30px;
    width: 170px;
    text-align: center;
    margin-left: 50px;
    padding-top: 10px;
    background: #FF7F56;
    color: white;
    border-radius: 30px;
    font-size: 20px;
}
.itogo{
    width: 1098px;
    margin: 0 auto;
    height: 72px;
    margin-top: 50px;
    border: 1px solid black;
    display: flex;
    margin-bottom: 20px; 
    font-size: 20px;
}
    .i__l__p{
        margin-left: 40px;
        margin-top: 24px;
    }
    .i__c__p{
        margin-left: 35%;
        margin-top: 24px;
        width: 150px;
    }
    .itogo button{
        height: 35px;
        width: 150px;
        border: 0;
        background: #FF7F56;
        color: white;
        border-radius: 30px;
        margin-left: 25%;
        margin-top: 20px;
        font-size: 16px;
    }

.products{
    margin-left: 50px;
}
    .product{
        width: 1098px;
        height: 100px;
        display: flex;
        border: 1px solid black;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .product img{
        height: 100px;
        width: 100px;
        border-right: 1px solid black;
    }
    .product p{
        width: 200px;
        padding: 0;
        margin-left: 40px;
        
    }
    .pname{
        font-size: 20px;
        margin-top: 10px;
    }
    .pcost{
        font-size: 20px;
        margin-top: 30px;
    }
    .right__block{
        display: flex;
        margin-top: 60px;
        margin-left: 450px;
    }
        .yt{
            width: 150px;
            height: 30px;
            border: 0;
            border-radius: 30px;
            background: #FF7F56;
            color: white;
        }
        .yt:hover{
            background: #eca790;
            cursor: pointer;
        }
        .r__r__block{
            display: flex;
            background: #FF7F56;
            width: 100px;
            height: 30px;
            border-radius: 30px;
            align-items: center;
            margin-left: 40px;
        }
            .r__r__block button{
                border: 0;
                width: 20px;
                height: 20px;
                margin-left: 10px;
                margin-right: 10px;
                color: white;
                background: #FF7F56;
            }
            .r__r__block button:hover{
                cursor: pointer;
            }
            .r__r__block p{
                margin: 0;
                padding: 0;
                color: white;
                
            }